@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(window).on('load', function () {
        $('#success-part').modal('show');
    });
</script>



<div class="modal fade" id="success-part" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" 
     aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:50px; background-color:rgba(0,0,0,.5); 
             color:white; margin-top:100px">
            <div class="modal-body" >
                <h5 class="container-fluid text-center" style="opacity:0.8">You have uccessfully sold this part</h5>
                <div class="container-fluid justify-content-center text-center" style="margin-top:20px">
                    <button class="btn btn-outline-light" style="opacity:0.9"
                            onClick="location.href='/CarsForParts/Index'"> &nbsp; Return &nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</div>