@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-5 pt-4">Manage your account</h2>

<div class="container-fluid justify-content-center" style="max-width:600px">
    <div>
        <div>
            <partial name="_ManageNav" />
        </div>
        <div style="max-width: 600px; margin-top: 20px;" >
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
