@using HPowerTunings.Data.Models

    <div class="d-flex container-fluid justify-content-center" style="width:100%">
        <ul class="manage-nav nav nav-pills flex-column mt-3 container-fluid justify-content-center w-50 mt-3">
            <li class="nav-item">
                <a class=" nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                    <h5>Profile</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)"
                   id="change-password" asp-page="./ChangePassword">
                    <h5>Change password</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)"
                   id="personal-data" asp-page="./PersonalData">
                    <h5>Personal data</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.RegisterYourCarNavClass(ViewContext)"
                   id="register-car" asp-page="./RegisterYourCar">
                    <h5>View or register your car</h5>
                </a>
            </li>
        </ul>
    </div>
