@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<style>
    body {
        background-color: rgb(240, 240, 232)
    }
</style>

<div class="container-fluid" style="max-width:440px">
    <h4 class="text-center">@ViewData["Title"]</h4>
    <br />
    <div class="text-center" style="max-width:440px; background-color:lightblue; padding:20px; border-radius:6px">
        <p>
            We are sorry to see you leaving! This will permanently remove your stored personal data and your account.
        </p>
    </div>
    <br />
    <div>
        <form id="delete-user" method="post" class="form-group container-fluid">
            @if (Model.RequirePassword)
            {
                <div class="form-group text-center">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            }
            <div class="button-holder mt-5 text-center">
                <button class="btn btn-danger" type="submit">Delete my account</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}