@page
@model RegCarModel


<head>
    <style>
        body {
            background-color: rgb(240, 240, 230)
        }
    </style>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Go').click(function () {
                $('.spinner').css('display', 'block');
            });
        });
    </script>
</head>
<body>
    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>
   
    <div class="container-fluid justify-content-center" style="max-width:400px;
         padding:20px; background-color:lightgray; opacity:0.7; border-radius:6px;">
        <form id="register-car-form" method="post">
            <div class="d-flex" style="margin-bottom:30px">
                <h4>Register your car</h4>
                <div class="button-holder" style="margin-left:50px">
                    <button id="Go" type="submit" class="btn btn-outline-primary">Select Brand</button>
                </div>
            </div>
            <select class="custom-select" id="CarBrand" name="carBrand">
                <option selected disabled>-- Choose Car Brand --</option>
                @foreach (var item in Model.Input.CarBrands)
                {
                    <option>@item</option>
                }
            </select>
           
        </form>
    </div>
    <br />
    <h4 class="text-center">View my car(s)</h4>
    <hr style="max-width:600px" />
    <div class="text-center" style="max-width:600px">
        @foreach (var item in Model.Input.ClientCars)
        {
            <p>
                <a id="Go" href="/Car/Details/@item.Id">
                    <h5>@item.CarBrandName &nbsp;/&nbsp; @item.CarModelName &nbsp;-&nbsp; <span style="color:black">@item.RegNumber</span></h5>
                </a>
            </p>
            <p style="padding-bottom:1px"> </p>
        }
    </div>
</body>


