@page
@model RegCarModel


<head>
    <style>
        body {
            background-color: rgb(240, 240, 230)
        }
    </style>
    <script src="~/css/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#go').click(function () {
                $('.spinner').css('display', 'block');
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid justify-content-center"></div>
    <div class="container-fluid justify-content-center text-center" style="background-color:cadetblue;
         opacity:0.9; padding-bottom:10px; padding-left:10px; padding-right:10px; padding-top:10px;
         max-width:370px; border-radius:6px">
        <h4 class="text-center"><strong>Register your car</strong></h4>
    </div>
    <br />
    <div class="container-fluid justify-content-center" style="max-width:400px">
        <form id="register-car-form" method="post">
            <select class="custom-select" id="CarBrand" name="carBrand">
                <option selected disabled>-- Choose Car Brand --</option>
                @foreach (var item in Model.Input.CarBrands)
                {
                    <option>@item</option>
                }
            </select>
            <div class="button-holder mt-4 d-flex justify-content-center">
                <button id="go" type="submit" class="btn btn-outline-primary">Select Brand</button>
            </div>
        </form>
    </div>
    <br />
    <h4 class="text-center">View my car(s)</h4>
    <hr style="max-width:400px" />
    <div class="text-center">
        @foreach (var item in Model.Input.ClientCars)
        {
            <p>
                <a id="go" href="/Car/Details/@item.Id">
                    <h5>@item.CarBrandName &nbsp;/&nbsp; @item.CarModelName &nbsp;-&nbsp;@item.RegNumber</h5>
                </a>
            </p>
        }
    </div>
    <div class="spinner" style="display:none">
        <div class="center-div">
            <div class="inner-div">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</body>


