@page
@model HPowerTunings.Web.Areas.Identity.Pages.Account.Manage.SuccessDeleteAccount


<style>
    body {
        background-color: rgb(240, 240, 232)
    }
</style>

<div class="text-center">
    <h4>Your account is uccessfully deleted</h4>
    <a href="/Home/Index">Return to home page</a>
</div>