@page
@model HPowerTunings.Web.Areas.Identity.Pages.Account.Manage.SuccessProfile


    <style>
        body {
            background-color: rgb(240, 240, 232)
        }
    </style>

<div class="text-center">
    <h4>Your account is uccessfully updated</h4>
</div>