.description {
    background-color: rgba(240, 240, 230, 0.6);
    text-align: center;
    padding: 6rem 2rem; 
}

.description h1 {
    color: rgb(17,49,107);
    font-weight: bold;
    padding: 1em 0 0.5em 0;
    border-bottom: 1px solid rgb(17,49,107);
    display: inline-block;
}

.description p {
    width: 70%;
    margin: 1.5em auto;
}

.motivation {
    display: flex;
}

.motivation .img-container {
    flex-basis: 50%;
}

.motivation div {
     flex-basis: 50%;   
     align-self: center;
     text-align: center; 
}

.motivation p {
     max-width: 600px;
     width: 100%;
     margin: 0 auto;
}

.img-container img {
    display: block;
    width: 100%;
}

.services ul {
    display: flex;
    padding-top: 2em;
    padding-left: 1em;
}

.services li {
    flex: 0 0 24%;
    margin-right: 1em;
    background: rgb(239,239,239);
}

.services li a,
.services li img {
    display: block;
}

.services li img {
    width: 100%;
}

.services li p {
    margin: 1em auto;
    text-align: center;
    color: rgb(17,49,107);
}