a:hover {
    text-decoration: none;
}

.description {
    text-align: center;
    padding: 200px 32px; 
}

.description h2 {
    font-size: 48px;
    color: rgb(17,49,107);
    font-weight: bold;
    padding: 42px 0 20px 0;
    border-bottom: 1px solid rgb(17,49,107);
    display: inline-block;
}

.description p {
    width: 70%;
    margin: 25px auto;
}

.motivation {
    display: flex;
}

.motivation .img-container {
    flex-basis: 50%;
}

.motivation div {
     flex-basis: 50%;   
     align-self: center;
     text-align: center; 
}

.motivation p {
     max-width: 600px;
     width: 100%;
     margin: 0 auto;
}

.between {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 320px 0;
    text-align: center;
}

.img-container img {
    display: block;
    width: 100%;
}

.services {
    padding: 50px 0;    
}

.services ul {
    display: flex;
    padding: 32px 0;
    padding-left: 16px;
    margin-bottom: 0;
}

.services li {
    margin-right: 16px;
    background: rgb(239,239,239);
}

.services li a,
.services li img {
    display: block;
}

.services li img {
    width: 100%;
}

.services li p {
    margin: 16px auto;
    text-align: center;
    color: rgb(17,49,107);
}

@media screen and (min-width:960px) {
    .description p,
    .motivation p,
    .between p,
    .services p {
        font-size: 18px;
    }
}

@media screen and (max-width: 760px) {
    .services ul {
        flex-wrap: wrap;
    }
    .services li {
        flex: 1 0 47%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 560px) {

    .description h2 {
        font-size:34px;
    }

    .description p,
    .motivation p,
    .between p,
    .services p {
        font-size: 14px;
    }

    .motivation {
        flex-direction: column-reverse  ;
    }

    .motivation p {
        padding: 100px 50px;
    }
}