.nav-link {
    padding: 0 8px !important;
}

.navbar {
    padding: 16px 0;
    position: relative;
}

.logos {
    position: absolute;
    width: 70px;
    left: 27px;
    top: 70px;
    z-index: 100;
    border-radius: 50%;
}

.logos li {
    display: flex;
}

.logos li:not(:last-child) {
    margin-bottom: 12px;
}

.logos span {
    display: block;
    content: '';
    position: relative;
    height: 70px;
    width: 70px;
}

.logos span:before {
    display: block;
    content: '';
    padding-top: 52.56%;
}

.logos a {
    display: block;
}
  
  
  .logos img {
      width: auto;
      height: 100%;
      display: block;
      position: absolute;
      top: 50%; left:50%;
      transform: translate(-50%, -50%);
  }

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.nav-toggle-button {
    display: none;
    margin-left: auto;
}

/* phones */

@media (max-width: 900px) {

    .nav-toggle + .site-header {
        display: block;
    }

    .nav-toggle-button {
        display: block;
    }

    .nav-toggle-button i {
        color: #FFF;
        font-size: 25px;
        padding: 8px;
    }

    .navigation {
        display: none;
    }

    .nav ul {
        display: block;
        width: 100%;
    }
    
   .nav ul li {
       display: block;
       padding: 8px;
    }
   
    .nav ul li a {
        text-align: center;
    }
   
    .nav ul li a:before {
        display: none;
    }


    .nav-toggle:checked + .site-header {
        top: 0;
        left: 0;
        width: 100vw;
    }

    .nav-toggle:checked + .site-header .nav{
        display: block;
        flex-wrap: wrap;
        flex: 1 0 100%;
        background: 0;
        padding: 0;
    }

    .nav-toggle:checked + .site-header .nav .mr-auto {
        display: block;
        margin-right: 0 !important;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button {
        display: block;
        margin-bottom: 0;
    }

    .nav-toggle:checked + .site-header .logos {
        display: none !important;
    }
}