@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
@import url('index.css');
@import url('navigation.css');
@import url('carousel.css');
@import url('gallery.css');
@import url('home-page.css');

 body {
    height: 100%;
    font-family: 'Open Sans';
    font-size: 16px;
  }
textarea, input, select {
    background-color: aliceblue !important;
    border-color:black
}
p {
    margin-bottom:0.5rem !important;
}
.staticbtn {
    position:fixed;
    top:50%;
    left:50%;
    transform:translateX(-50%);

}
.adminregcar {
    position: fixed;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.admincreaterepair {
    position: fixed;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.admincreateclient {
    position: fixed;
    top: 64%;
    left: 50%;
    transform: translateX(-50%);
}

 li {
     list-style: none outside;
 }

 .main {
     flex-wrap: wrap;   
 }

.site-header,
.site-footer {
    background: rgba(17,49,107,0.87);
}

.site-header .nav-link-white,
.site-footer > p{
    color: #FFF !important;
}

.site-title {
    font-family: "Orbitron";
    position: absolute;
    z-index: 10;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.6);
    background: rgba(240, 240, 230, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    padding: 0 1em;
    line-height: 1;
    border-radius: 8px;
}

.cookieconsent {
   background: rgba(164, 226, 240, 0.8);
}

.site-footer {
    margin-top: auto;
}

.site-footer > p {
    font-size: 0.8rem;
}

.nav-pills .nav-link.active {
    background: #11316B;
}
.manage-nav {
    padding: 0 15px;
}
.manage-nav a.nav-link {
    font-size: 1.1em;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
input[type="submit"]:hover {
    border-color: #11316B !important;
    background: #11316B !important;
}

.container-login {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
}

form {
    position: relative; 
    z-index: 30;
}

.boss {
    font-size: 3.2rem;
}

.delete-personal-data {
    background-color: rgba(164, 226, 240, 0.8);
    color: #000;
    border: 0;
}

.btnRegister {
    position: fixed;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
}

.proceedAppointmentbtn {
    position: fixed;
    top: 80%;
    left: 35%;
    transform: translateX(-50%);
}

.deleteSubmit {
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
}

.btnDeleteAccount {
    position: fixed;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
}

.btnProfile {
    position: fixed;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.btnClientRegisterCar {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
}

.btnAdminCreateRepair {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.btnRepairStatistics {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}

.btnChangePassword {
    position: fixed;
    top: 86%;
    left: 50%;
    transform: translateX(-50%);
}

.btnCarStatistics {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}

.btnAdminCreateCar {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.btnClientStatistics {
    position: fixed;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
}

.btnAdminCreateClient {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.btnProceedRepair {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translateX(-50%);
}

.repair {
    border-radius: 18px;
}

.container-register {
    position: absolute;
    border-radius: 32px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-forgotPassword {
    position: absolute;
    background-size: cover;
    border-radius: 32px;
    width: 100%;
    height: 100%;
}

.container-privacy {
    position: absolute;
    border-radius: 32px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container-logout {
    position: absolute;
    border-radius: 32px;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.center-div {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
}

.spinner {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #15a0ec;
    border-bottom: 16px solid #15a0ec;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.inner-div {
    background-color: white;
    border-radius: 15px;
    margin: auto;
    padding: 2%;
    width: 150px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:800px) {
    .adminHome {
        flex-direction:column;
    }
}

@media screen and (max-width:560px) {
    .site-title {
        font-size:35px;

    }
}
