
@{
    ViewData["Title"] = "SendEmails";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<style>
    body {
        background-color: rgba(210, 230, 240, 0.6)
    }
</style>

<div class="container-fluid justify-content-center text-center" style="width:400px">
    <h3 class="mt-5 pt-5">All emails are sent successfully</h3>
    <div class="mt-5 container-fluid justify-content-center text-center">
        <a href="https://localhost:44366/Email"><h5>Return to mail page</h5></a>
    </div>
</div>


