@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgba(230, 240, 211, 0.6)
        }
    </style>
</head>
<body>
    <div class="text-center mt-5 pt-5">
        <h4>Send mails page</h4>
    </div>
</body>
</html>