@using HPowerTunings.ViewModels.ClientModels
@model ClientStartEndModel

@{
    ViewData["Title"] = "ClientStartEnd";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<style>
    body {
        background-color: rgb(240, 240, 240)
    }
</style>

<div class="container-fluid justify-content-center w-50">

</div>
