@using HPowerTunings.ViewModels.ClientModels
@model ClientStartEndOutputModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 238, 224)
        }
    </style>
</head>
<body>
    <form action="/client/clientstartendstatistics" method="post">
        <div class="text-center mt-5 pt-5">
            <h3>Select period of time for clients statistics</h3>
            <hr />
        </div>
        <div class="text-center mt-5">
            <label>Start date (including)</label>
            <input type="date" asp-for=@Model.StartDate class="form-control" />
        </div>
        <div class="text-center mt-5">
            <label>End date (including)</label>
            <input type="date" asp-for=@Model.EndDate class="form-control" />
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-outline-primary">Select period</button>
        </div>
    </form>
    <div class="container-fluid justify-content-center text-center mt-5 pt-5">
        <form action="/client/admincreateclient" method="get">
            <button class="btn btn-outline-primary">Create client</button>
        </form>
    </div>
</body>
</html>
