@using HPowerTunings.ViewModels.ClientModels
@model ClientStartEndOutputModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(230, 238, 230)
        }
    </style>
</head>

<body>
    <div class="container-fluid justify-content-center mt-5 pt-5" style="max-width:500px">
        <h3 class="text-center">Clients management page</h3>

        <div class="container-fluid mt-4"
             style="padding:20px; border-radius:6px; background-color:gainsboro">
            <form class=" text-center" action="/client/admincreateclient" method="get" style="padding-bottom:20px">
                <button class="btn btn-outline-dark mt-3" style="opacity:0.8">Create &nbsp;client</button>
            </form>
        </div>
        <div style="padding:20px; padding-bottom:30px; padding-top:20px; border-radius:6px;
              background-color:ivory; border:solid 1px rgb(220, 220, 220); margin-top:30px">
            <form action="/client/clientstartendstatistics" method="post">
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-outline-primary" style="opacity:0.7">Select period</button>
                </div>
                <div class="text-center mt-5">
                    <label>Start date (including)</label>
                    <input type="date" asp-for=@Model.StartDate class="form-control" />
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div class="text-center mt-5">
                    <label>End date (including)</label>
                    <input type="date" asp-for=@Model.EndDate class="form-control" />
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for=@Model.RegisterClient.Email class="form-control" value="pesho@gmail.com" />
                    <input type="hidden" asp-for=@Model.RegisterClient.UserName class="form-control" value="pesho" />
                </div>
            </form>
        </div>

    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
