
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

    <style>
        body {
            background-color: rgb(240, 240, 200)
        }
    </style>

<h4 class="mt-5 pt-5">Client is successfully created</h4>

