@using HPowerTunings.ViewModels.CarModels
@model CarStartEndDateViewModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(238, 244, 240)
        }
    </style>
</head>
<body>
    <form class="container-fluid justify-content-center" style="width:400px" action="/Car/CarStatisticStartEnd" method="post">
        <div class="text-center mt-5 pt-5">
            <h3>Select period of time for car statistics</h3>
            <hr />
        </div>
        <div class="text-center mt-5">
            <label>Start date (including)</label>
            <input type="date" asp-for=@Model.StartDate class="form-control" />
            <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
        </div>
        <div class="text-center mt-5">
            <label>End date (including)</label>
            <input type="date" asp-for=@Model.EndDate class="form-control" />
            <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
        </div>
        <div class="text-center mt-5">
            <button type="submit" class="btnCarStatistics btn btn-outline-primary">Select period</button>
        </div>
    </form>
    <div class="container-fluid justify-content-center text-center mt-5 pt-5">
        <form action="/car/AdminCreateCar" method="get">
            <button class="btnAdminCreateCar btn btn-outline-primary">Create &nbsp;a&nbsp; car</button>
        </form>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


