@using HPowerTunings.ViewModels.CarModels
@model CarStartEndDateViewModel
@{ Layout = "_LayoutBoss";}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(238, 244, 240)
        }
    </style>
</head>
<body>
    <div class="container-fluid justify-content-center mt-5 pt-5" style="max-width:500px">
        <h3 class="text-center">Cars management page</h3>
        <div  class="container-fluid justify-content-center text-center mt-4" 
             style="padding:20px; border-radius:6px; background-color:darkcyan">
            <form action="/car/AdminCreateCar" method="get" style="padding-bottom:20px; opacity:0.9">
                <button class="btn btn-outline-light mt-3">Create &nbsp;car</button>
            </form>
        </div>
        <p style="padding:10px;"></p>
        <div  style="padding:20px; padding-bottom:30px; border-radius:6px; 
              background-color:azure; border:solid 1px rgb(220, 220, 220)">
            <form action="/Car/CarStatisticStartEnd" method="post">
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-outline-primary" style="opacity:0.7">Select period</button>
                </div>
                <div class="text-center mt-5">
                    <label>Start date (including)</label>
                    <input type="date" asp-for=@Model.StartDate class="form-control" />
                    <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
                </div>
                <div class="text-center mt-5">
                    <label>End date (including)</label>
                    <input type="date" asp-for=@Model.EndDate class="form-control" />
                    <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
                </div>

            </form>
        </div>
        
    </div>


</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


