@using HPowerTunings.ViewModels.CarModels
@model DeleteYourCarModel

<style>
    body {
        background-color: rgb(240, 240, 232)
    }
</style>

<div class="container-fluid justify-content-center text-center pt-5 mt-5" style="width:400px">
    <h3>Delete your car</h3>
    <hr />
    <div class="delete-personal-data alert alert-warning" role="alert">
        <p>
            <span class="glyphicon btn-outline-light" style="border-radius:8px"></span>
            <div>
                <h5>
                    You will permanently remove this <span style="font-size:20px; color:saddlebrown">
                        <strong>@ViewData["CarBrand"] - @ViewData["CarModel"]</strong>
                    </span> from the system
                </h5>
            </div>
        </p>
    </div>
    <form class="deleteCarForm mt-5" action="/car/deleteyourcar" method="post">
        <label>Insert your password</label>
        <input asp-for="Password" class="form-control container-fluid" style="width:300px" />
        <font color="brown"><span asp-validation-for=@Model.Password></span></font>
        <input asp-for="CarBrand" />
        <input asp-for="CarModel" />
        <input asp-for="CarId" />
        <div>
            <div class="button-holder pt-5 mt-5 justify-content-center">
                <button type="submit" class="deleteSubmit btn btn-danger">Delete this car</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}