<style>
    body {
        background-color: rgb(240, 240, 232)
    }
</style>

<body>
    <div class="container-fluid justify-content-center w-50 text-center pt-5 mt-5">
        <h3>Car is created successfully</h3>
        <a href="https://localhost:44366/Identity/Account/Manage/RegisterYourCar">Return to account page</a>
    </div>
</body>
