<style>
    body {
        background-color: rgb(240, 240, 232)
    }
</style>

<body>
    <div class="container-fluid justify-content-center w-50 text-center pt-5 mt-5">
        <h4>Car is created successfully</h4>
        <p></p>
        <a href="/Identity/Account/Manage/RegisterYourCar"><h5>Return to account page</h5></a>
    </div>
</body>
