<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,
    width=device-width" />
    <title></title>
    <style>
        body {
            background-color: rgba(240, 240, 230, 0.1)
        }
    </style>

</head>

<body>
    <div class="container-fluid text-center mt-5 pt-4" style="max-width:660px">
        <h1 class="mb-3">Welcome to HPowerTunings</h1>
        <br />
        <h4> Our company has more than 15 years of experience in maintaining and servicing</h4>
        <h3 class="mt-5"><strong>BMW, MINI COOPER,</strong></h3>
        <h4>and</h4>
        <h3><strong>RANGE ROVER</strong></h3>
        <h4>cars only.</h4>
        <h4 class="mt-5">We would like to represent to you our newly opened car service center, which includes free parking, carwash and coffe bar</h4>
        <br />
    </div>

    <a class="text-center" style="font-size:22px; margin:60px" href="/SiteViews/Team"><strong>Our team</strong></a>

    <a class="text-center" href='http://maps-website.com/'>Google maps</a>
    <div class="about-item container-fluid justify-content-center" style='overflow:hidden;height:600px'>
        <div id='gmap_canvas' style='height:600px;width:auto;'></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div>

    <div class="container-fluid text-center mt-5 mb-5">
        <br />
        <br />
        <h4>You can contact us on:</h4>
        <h5 class="mt-3"><strong>tel.</strong> +359887216452</h5>
        <h5><strong>tel.</strong> +359887216453</h5>
        <h5><strong>web:</strong> www.HPowerTunings.bg</h5>
        <h5><strong>email:</strong> pesho@hpowertunings.bg</h5>
        <h5><strong>We are open:</strong> Mon - Sat 9:00h - 19:00h</h5>
        <p></p>
        <h5>Your <strong>BMW</strong> car service</h5>
        <div class="pt-5 mt-5"></div>
    </div>
    <div style="padding-bottom:320px"></div>
    <footer class="d-flex justify-content-around" style="background-color:#353627; height: 500px; color:white; font-size:14px;
            padding-bottom:80px; padding-top:40px">

        <div>
            <p><i class="fas fa-phone-alt pr-3" style="font-size:20px"></i><strong style="font-size: 18px">tel.</strong> +359887216452</p>
            <br />
            <br />
            <p><i class="fas fa-phone-alt  pr-3" style="font-size:20px"></i><strong style="font-size: 18px">tel.</strong> +359887216453</p>
            <br />
            <br />
            <p><i class="fas fa-globe-europe  pr-3" style="font-size:20px"></i><strong style="font-size: 18px">web:</strong> www.HPowerTunings.bg</p>
            <br />
            <br />
            <p><i class="fas fa-envelope pr-3" style="font-size:20px"></i><strong>email:</strong> pesho@hpowertunings.bg</p>
        </div>
        <p style="align-self:flex-end;">&copy; HPowerTunings</p>
        <div>
            <ul>
                <li>
                    <a href="~/SiteViews/ServicesDiagnostics">
                        <p style="font-weight:100; color:deepskyblue;    font-size:16px"><strong>Diagnostics</strong></p>
                    </a>
                    <br />
                    <br />
                </li>

                <li>
                    <a href="~/SiteViews/ServicesBodywork">
                        <p style="font-weight:100; color:deepskyblue; font-size:16px"><strong>Bodywork & Painting</strong></p>
                    </a>
                    <br />
                    <br />
                </li>
                <li>
                    <a href="~/SiteViews/ServicesRepair">
                        <p style="font-weight:100; color:deepskyblue; font-size:16px"><strong>Servicing & Repair</strong></p>
                    </a>
                    <br />
                    <br />
                </li>
                <li>
                    <a href="~/SiteViews/ServicesRestoration">
                        <p style="font-weight:100; color:deepskyblue; font-size:16px"><strong>Restoration</strong></p>
                    </a>
                    <br />
                    <br />
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>


<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBp015ljmmAmpAOT3k5VpPAOfM2aJH6HU0'></script>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=3805386b679888ba417e71795c598f6ef3bf2c09'></script>
<script type='text/javascript'>
    function init_map() {
        var myOptions = {
            zoom: 12, center: new google.maps.LatLng(42.651537, 23.219843),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
        marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(42.651537, 23.219842) });
        infowindow = new google.maps.InfoWindow({ content: '<strong>HPowerTunings Car Service</strong><br>Sofia<br>' });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
        infowindow.open(map, marker);
    }
    google.maps.event.addDomListener(window, 'load', init_map);
</script>
