<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        body {
            background-color: rgb(0, 0, 0)
        }
    </style>

</head>
<body>
    <div class="content">
        <ul class="gallery">
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/02.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/01.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/03.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/04.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/05.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/06.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/07.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/08.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/09.jpg" alt="k">
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <img src="~/img/gallery/10.jpg" alt="k">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>