@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome w-100">
    <section class="carousel-holder">
        <h1 class="site-title text-center">HPowerTunings Car Service</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/car001b.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/car02_1400x832.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/car04c.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/car05_1400x832.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </section>
</div>
<section class="description" style="height:600px">
    <header>
        <h1 style="font-size:48px">WHAT MAKES US DIFFERENT</h1>
    </header>
    <p style="font-size:20px;">Having been founded in 2005, we have needed to grow quickly and that is exactly what we have done. Our knowledge of the German car industry has proven to be invaluable, allowing us to build a strong and hardworking team around us that love their jobs as much as we do. We are different because we put our customers first, we are only more than happy to answer any questions you may have. Just give us a call or drop us an email.</p>
</section>
<section class="motivation">
    <div>
        <p style="font-size:20px;">We are dedicated only to the driver. We don't just fix cars. We create emotion, enthusiasm, fascination and thrills.</p>
    </div>
    <div class="img-container ml-3">
        <img src="~/img/bmw_xdrive_050.jpg" alt="" />
    </div>
</section>
<section class="services">
    <ul>
        <li>
            <a href="">
                <img src="~/img/categories/bodywork.jpg" alt="bodywork" />
            </a>
            <p style="font-size:20px; font-weight:400; color:indigo"><strong>Bodywork & Painting</strong></p>
        </li>
        <li>
            <a href="">
                <img src="~/img/categories/repair.jpg" alt="repair" />
            </a>
            <p style="font-size:20px; font-weight:400; color:indigo"><strong>Servicing & Repair</strong></p>
        </li>
        <li>
            <a href="">
                <img src="~/img/categories/restoration.jpg" alt="restoration" />
            </a>
            <p style="font-size:20px; font-weight:400; color:indigo"><strong>Restoration</strong></p>
        </li>
        <li>
            <a href="">
                <img src="~/img/categories/chiptuning.jpg" alt="chiptunig" />
            </a>
            <p style="font-size:20px; font-weight:400; color:indigo"><strong>Diagnostics</strong></p>
        </li>
    </ul>
</section>
<section class="mb-5">
    <div class="cars">
        <div class="motivation yellow">
            <div class="img-container">
                <img src="~/img/MainPage/bmwBlueFront.jpg" alt="" />
            </div>
            <div>
                <p style="font-size:20px;">We are dedicated only to the driver. We don't just fix cars. We create emotion, enthusiasm, fascination and thrills.</p>
            </div>
        </div>
        <div class="between">
            <p style="font-size:20px;">We are dedicated only to the driver. We don't just fix cars. We create emotion, enthusiasm, fascination and thrills.</p>
        </div>
        <div class="motivation blue">
            <div>
                <p style="font-size:20px;">We are dedicated only to the driver. We don't just fix cars. We create emotion, enthusiasm, fascination and thrills.</p>
            </div>
            <div class="car img-container">
                <img src="~/img/MainPage/bmw.jpg" alt="" />
            </div>
        </div>
        <div style="padding-bottom:400px"></div>
        <p class="text-center mt-5"><strong>&copy;HPowerTunings</strong></p>
    </div>
</section>


