@{
    ViewData["Title"] = "Privacy Policy";
}
    <head>
        <style>
            body {
                background-color: rgb(240, 246, 240)
            }
        </style>
    </head>
<section class="container-privacy pt-5">
    <div class="container-fluid justify-content-center mt-5 text-center" style="max-width:800px;">
        <h3 style="margin-bottom:30px">@ViewData["Title"]</h3>
        <p>
            Our site is using cookies. If you haven't agreed yet, please hit accept to agree with our cookie policy! &nbsp;
            Our site is collecting personal information.
            If you are not agree with this, you are welcome to delete all your personal data from (My Account) section at any time.
        </p>
        <div class="pt-4"><p>Enjoy this site!</p></div>
        <div style="height:400px"></div>
        <p class="fixed-bottom">&copy;HpowerTunings</p>
    </div>
</section>
