@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="container-privacy pt-5">
    <div class="container-fluid justify-content-center w-50 mt-5 text-center">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <p>
            Our site is using cookies. If you haven't agreed yet, please hit accept to agree with our cookie policy! &nbsp;
            Our site is collecting personal information.
            If you are not agree with this, you are welcome to delete all your personal data from (My Account) section at any time.
        </p>
        <div class="pt-4"><p>Enjoy this site!</p></div>
        <div class="pt-5 mt-5"></div>
        <div class="pt-5 mt-5"></div>
        <div class="pt-5 mt-5"></div>
        <div class="pt-5 mt-5"></div>
        <div class="pt-5 mt-5"></div>
        <p>&copy;HpowerTunings</p>
    </div>
</section>
