
@{
    ViewData["Title"] = "SuccessDeleteEmployee";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<h4 class="text-center mt-5 pt-5">SuccessDeleteEmployee</h4>
<h5><a href="/Employee/Index">Return to employee page</a></h5>


