<div class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="text-center">
        <h2 class="mt-5">Our Process</h2>
        <hr />
        <div style="max-width: 500px;" class="mt-3 mb-4">
            <p>We always provide a full and detailed estimate of all restoration projects in advance. You are kept fully updated of any unavoidable changes throughout the process.</p>
            <p>The work is carried out with precision, care and attention to detail.</p>
            <p>We use quality materials, recognised techniques and the best tools to ensure high standards are maintained. Our restoration services are carried out by a passionate team of technicians who care about your vehicle.</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <img class="w-75" src="~/img/bodyshop.jpg" alt="bodyshop" />
    </div>
    <div class="mt-5">
        <h3 class="mb-3 text-center">Value For Money</h3>
        <p class="mb-3 mt-3 text-center">Our full or partial restoration services include:</p>
        <ul>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Engines</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Gearbox rebuilds</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Convertible Roofs</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Welding</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Alloy Wheels</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Body Kits</li>
        </ul>
    </div>
</div>
<div style="height:100px"></div>

