<div class="container-fluid d-flex flex-column align-items-center justify-content-center mt-5">
    <div class="text-center">
        <h2 class="mt-5" style="margin-bottom:40px">Bodywork & Painting Services</h2>
        <div style="max-width: 500px;" class="mt-3 mb-4">
            <p>We can restore that showroom shine to your car with accurate refinishing, custom painting and a host of other services.</p>
            <p>We have built up an excellent reputation among discerning car collectors for carrying out bodywork projects on a range of vehicles.</p>
        </div>
    </div>
    <div class="text-center mt-3">
        <img class="w-75" src="~/img/bodyshop.jpg" alt="bodyshop" />
    </div>
    <div class="mt-5 pt-2">
        <h3 class="mb-5 text-center">Our Services</h3>
        <p class="mb-3 text-center">Our range of bodywork services includes:</p>
        <ul>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Welding</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Paint and Lacquer</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Touch-ups</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Alloy wheel refurbishment</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Rust proofing and anti-corrosion</li>
            <li class="mb-3"><i class="fas fa-chevron-right pr-3"></i>Clean, wash, strip, sand, remove corrosion and fill dents</li>
        </ul>
    </div>
</div>
<div style="height:100px"></div>
