@using HPowerTunings.ViewModels.RepairModels
@model  ProceedRepairModel

@{
    ViewData["Title"] = "SuccessCreatePart";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
    <head>
        <style>
            body {
                background-color: rgb(240, 240, 220)
            }
        </style>
    </head>
    

   <h4 class="mt-5 pt-5">Successfully registerd this part</h4>