
@{
    ViewData["Title"] = "SuccessCreatePart";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

    <style>
        body {
            background-color: rgb(240, 240, 220)
        }
    </style>

<h4 class="pt-5 mt-5 container-forgotPassword text-center">SuccessCreatePart</h4>

