@using HPowerTunings.ViewModels.RepairModels
@model  ProceedRepairModel

@{
    ViewData["Title"] = "ProceedRapair";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}


<div class="container-fluid justify-content-center text-center mt-5 pt-5">


</div>
