
@{
    ViewData["Title"] = "SuccessFinalize";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}
    <style>
        body {
            background-color: rgb(254, 244, 227)
        }
    </style>
    <body>
        <h4 class="pt-5 mt-5">This repair was successfully finalized</h4>
        <a href="/Company/Index"><h5>Return to admin page</h5></a>
    </body>


