<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container-fluid text-center pt-5 mt-5 w-50"><h4>Yoy have uccessfully created an appointment. We will contact you soon to set up the details</h4></div>
</body>
</html>