<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            background-color: rgb(240, 250, 230)
        }
    </style>
</head>
<body>
    <div class="container-fluid text-center pt-5 mt-5 w-50"><h4>Yoy have successfully created an appointment. We will contact you soon to set up the details</h4></div>
</body>
</html>