
@{
    ViewData["Title"] = "SuccessCreateAppointment";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

<style>
    body {
        background-color: rgb(232, 238, 240)
    }
</style>

<body>
    <div class="container-fluid justify-content-center text-center pt-5 mt-5" style="max-width:440px">
        <h4 >This appointment is in the system</h4>
        <h5 >An email has been sent to the client</h5>
        <p style="padding-bottom:8px"></p>
        <a href="/Company/Index"><h5>Return to my company page</h5></a>
    </div>

</body>

