
@{
    ViewData["Title"] = "SuccessCreateAppointment";
    Layout = "~/Views/Shared/_LayoutBoss.cshtml";
}

}
<style>
    body {
        background-color: rgb(232, 238, 240)
    }
</style>

<body>
    <div class="container-fluid justify-content-center w-50 text-center pt-5 mt-5">
        <h4>This appointment is in the system</h4>
        <p></p>
        <a href="/Company/Index"><h5>Return to my company page</h5></a>
    </div>

</body>

