@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="cookieconsent fixed-bottom d-flex alert justify-content-center w-100 p-2 mt-auto" role="alert">
        <span class="text-right mt-2 mr-3">Accept our cookie policy.</span>
        <a class="mt-2 mr-3" href="/home/privacy">Learn More</a>
        <button type="button" class="btn btn-outline-primary" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true" class="justify-content-end">Accept</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {     
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
