@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center pt-5">
    <h2>@ViewData["Title"]</h2>
    <br />
    <p>
        Thank you for confirming your email! &nbsp; Please, <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
