@page
@model ForgotPasswordConfirmation

<section class="container-login pt-5">
    <div class="container-fluid justify-content-center w-50 mt-5">
        <div class="text-center">
            <h2>Forgot password confirmation</h2>
            <br />
            <p>
                Please, check your email! &nbsp; If you haven't received an email check in the spam folder.
            </p>
        </div>
    </div>
</section>


