@page
@model LoginModel
   

<body>
    <section class="container-login">
        <form id="account" method="post" class="container-fluid justify-content-center pt-5 mt-5" style="width:400px">
            <h3 class="text-center">Login</h3>
            <hr />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="button-holder mt-4 d-flex justify-content-center">
                <button  type="submit" class="btn btn-outline-primary">Log in</button>
                <div class="spinner" style="display:none">
                    <div class="center-div">
                        <div class="inner-div">
                            <div class="loader"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="se-pre-con"></div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
