@page
@model LoginModel


<body>
    <div style="padding-top:80px"></div>
    <section class="container-fluid justify-content-center" style="max-width:400px;
                 padding:20px; background-color:lightgray; opacity:0.7; border-radius:6px;">
        <form id="account" method="post">
            <div class="d-flex">
                <h3 >Login</h3>
                <div class="button-holder" style="margin-left:200px">
                    <button type="submit" class="btn btn-outline-primary">Log in</button>
                </div>
            </div>
            <p style="padding:20px"></p>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" style="color:indigo">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
           
        </form>
        <div class="spinner" style="display:none">
            <div class="center-div">
                <div class="inner-div">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </section>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
